@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
/* Importando fonte do Google Fonts */

body{
    margin: 0;   /* Removendo a margem, aproveitando todo o espaço */
    font-family: 'Rajdhani', sans-serif;   /* Trocando a fonte de todo a página pela nova fonte importada */
}

header{
    background-color: rgba(47, 50, 247, 0.637);   /* Alterando a cor de fundo */
    color: #fff;   /* Alterando a cor das escritas */
    display: flex;   /* Alinhando */
    flex-wrap: wrap;   /* Alinhando */
    justify-content: center;   /* Justificando ao centro o conteúdo */
    padding: 20px;   /* Espaço interno entre o conteúdo e sua borda */
}

header h1{   /* Título da página */
    width: 100%;   /* Ocupa 100% da linha */
    text-align: center;   /* Alinhar ao centro */
}

header input{   /* Campo de inserir tarefa */
    border: none;   /* Tirando borda */
    border-radius: 10px;   /* Arredondando os cantos */
    padding: 10px;   /* Espaço interno entre o conteúdo e sua borda */
    width: 60%;   /* Ocupa 60% da linha */
    font-size: 18px;   /* Aumenta tamanho da fonte */
}


header span{   /* Botão */
    padding-left: 10px;   /* Afastando 10px da esquerda */
    font-size: 35px;   /* Aumenta tamanho do botão */
    cursor: pointer;   /* Mouse encima do botão muda o cursor */
}

ul{
    margin: 0;
    padding: 0;
}
/* Removendo a margem interna e externa, aproveitando todo o espaço */

ul li{
    cursor: pointer;   /* Mouse encima da tarefa muda o cursor */
    padding: 10px 0;   /* Margem interna vertical 10px, horizontal 0px */
    list-style-type: none;   /* Removendo as bolinhas de lista */
    font-size: 18px;   /* Aumentando tamanho da escrita */
    display: flex;   /* Separa os ícones dos textos */
    transition: 0.3s;   /* Dar efeito quando mudar a lista */
    align-items: center;   /* Alinhamento dos itens centralizando */
}

ul li:nth-child(odd){background-color: beige;}
/* Pega todas as linhas ímpares e muda a cor de fundo */

ul li:hover{background-color: #dfeaff;}
/* Trocar o fundo quando passar o mouse */

ul li span{width: 80%;}   /* Tarefa ocupando 80% da linha */

ul li i{
    width: 10%;    /* ícones ocupando 10% cada um da linha */
    text-align: center;   /* Centralizando conteúdo na linha */
}

.close{
    color: #f03333;    /* Trocando a cor do ícone de excluir para vermelho */
}